html {
	height: 100%;
	cursor: pointer;
	color: #d4d4d4;

	body {
		margin: 0;
		padding: 0;
		font-family: 'Poppins', sans-serif;
		color: #d4d4d4;
		background: linear-gradient(black, red);
		height: 100vh;
		cursor: pointer;
	}

	p {
		display: inline;
	}

	div{
		cursor: pointer;
	}
	
	span {
		display: inline;
	}

	h3, h5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem ;
	}

	h5 {
		padding-left: 1.5rem;
	}

	input[type="checkbox"]
	{
		vertical-align: middle !important;
	}

	label {
		color: #d4d4d4 !important;
		display: inline-block ;
		vertical-align: middle;
	}

	ul  {
		li {
			:hover, a:hover, a:visited {
				color:red;
			}
		}
	}
}

header {
	display: inline-block;

    h1 {
		position: absolute;
        justify-content: center;
        text-align: center;
        margin-left: 40%;
        margin-top: 100px;
		
    }

	span {
		p {
			position: fixed;
			top: 1rem;
			right: 30px;
			color: #d4d4d4;
			padding-bottom: 100px;
		}
	}
}

.logo {
	width: 400px;
	margin-left: -100px;
	opacity: 0.5;
	transition: 0.5s;
	display: block;
	float:left;
}

.icon {
	width: 15px;
	height: 15px;
}

.home {
	display: flex;
}

.home-container {
	div {
		display: flex;
	}
}

.admin-dashboard {
	margin: auto;
	width: 50%;
	text-align: center;
    
	h2 {
        width: 50%;
        align-items: center;
    }
}

.add-button {
	height: 150px;
	width: 150px;
	border: none;
	border-radius: 5%;
	color: #d4d4d4;
	background: rgba(0, 0, 0, 0.351);
	transition: transform .2s; /* Animation */
	margin: 2em;

	:hover {
	  transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	}
}

.name {
	display: block;
	float:right;
	width: 100px;
}

.avatar {
	position: absolute;
	width: 250px;
	height: 100vh;
	border-radius: 50%;
	overflow: hidden;
	top: calc(-9rem);
	left: 7rem;
}

.form {
	position: absolute;
	top: 55%;
	left: 50%;
	padding: 20rem;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 80px 40px;
	background: rgba(0, 0, 0, 0.611);
	border-radius: 5%;
	margin-top: 15px;
	margin-bottom: 20em;
	cursor: pointer;

    h2 {
        margin: 0;
        padding: 0 0 10px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
    }
    a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }
    input {
        width: 100%;
        margin-bottom: 40px;

        [type=text], [type=password] {
            border: none;
            border-bottom: 1px solid #fff;
            background: transparent;
            outline: none;
            height: 40px;
            color: #fff;
            font-size: 18px;
        }
        [type=submit] {
            height: 30px;
            color: #fff;
            font-size: 15px;
            background: red;
            cursor: pointer;
            border-radius: 25px;
            border: none;
            outline: none;
            margin-top: 20px;
        }
        [type=checkbox] {
            width: 30%;
        }
    }
}

.genre-section {
	display: flex;
	align-content: center;
	justify-content: start;
	flex-wrap: wrap;
	margin: auto;
	margin-bottom: 2rem;
	width: 70%;
}

.genre-menu, .users-menu {
    box-shadow: 2px 20px 100px black;

    h3 {
	margin-left: 43%;
	color: #d4d4d4;
	} 
}

.genre-card {
	flex-direction: row;
	margin: 5px;
	img {
		height: 150px;
		box-shadow: 2px 20px 100px black;
		border-radius: 12px;
		justify-content: center;
	}
}

.genre-cards {
	margin: 5px;
}

.table {
	width: 70% !important;
	margin: auto;
	overflow: scroll !important;
	a {
		color: #d4d4d4 !important;
	}

	a:hover {
	color: red !important;
	}
}

.song-list {
	display: block;
	color: #d4d4d4;
	background: rgba(4, 4, 4, 0.583);
	margin-bottom: 0;
	padding-right:10px;
	padding-bottom:20px;
	height: 70vh;
	min-width: 20rem;
	overflow: scroll;
	font-size: 18px;

	section {
		overflow: scroll;
		cursor: pointer;
		position: relative;
		min-width: 20rem;
		min-height: 60vh;
	}
}

.song-info-div {
	background-color: black;
	color: #555;
	justify-content: center;
	padding: 20px;
    align-content: center;
    margin-left: auto;
}

.rhap_container {
	background-color: black;

	div, div *:focus {
		outline: none;
	}

	::-webkit-scrollbar {
		width: 5px;
	}
	/* Track */
	::-webkit-scrollbar-track {
		background: #000000;
	}
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: black;
		/* Handle on hover */
		:hover {
			background: #555;
		}
	}

	.rhap_time {
		color: #d4d4d4 !important;
	}
	
}

.action {
	position: fixed;
	top: 50px;
	right: 30px;

	.profile {
		position: relative;
		width: 60px;
		height: 60px;
		border: 50%;
		overflow: hidden;
		cursor: pointer;

		.img {
			position: absolute;
			top: 0;
			left: 0;
			width: 50px;
			height: 50px;
		}
	}

	.menu {
		position: absolute;
		top: 80%;
		right: -10px;
		padding: 10px 20px;
		background: rgba(0, 0, 0, 0.72);
		width: 200px;
		box-sizing: 0 5px 25px rgba(0,0,0,0.1);
		border-radius: 15px;
		transition: 0.5s;

		h3 {
			width: 100%;
			text-align: center;
			font-size: 18px;
			padding: 20px 0;
			font-weight: 500;
			color: #555;
			line-height: 1.2em;
		}

        ul {
            li {
                list-style: none;
                padding: 10px 0;
                border-top: 1px solid rbga(0, 0, 0, 0.05);
                display: flex;
                align-items: center;
                color: #555;

                img {
                    max-width: 20px;
                    margin-right: 10px;
                    opacity: 0.5;
                    transition: 0.5s;
                }
                a {
                    display: inline-block;
                    text-decoration: none;
                    color: #555;
                    font-weight: 500;
                    transition: 0.5s;
                }
				:hover img {
                opacity: 1;
				}
				
            }
		} 
	}
}
